/**** TAGS ****/

*{
    margin: 0;
    padding: 0;
}

iframe{
    width: 100%;
}

body{
background-color: rgb(245, 241, 241);
padding: 0;
margin: 0;
}

button{
    border:none;
    background-color: rgba(0, 130, 0, 0%);
}

ul{
    list-style-type: none;
}



/**** CLASSES ****/

.container{
    width: 80%;
    margin: auto;
    padding: 30px;
}

.navbar{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo, .search-bar, .sign-in {
    display: flex;
    align-items: center;
}

.navbar img {
    height: 25px;
}

.logo .hamburguer {
    height: 30px;
}

.logo .youtube-logo {
    height: 50px;
}

.search {
    width: 60%;
}

.search input {
    width: 90%;
    height: 25px;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 5px;
}

.sign-in img {
    margin-right: 15px;
}

.sign-in button {
    background-color: blue;
    color: white;
    height: 30px;
    padding: 5px;
    margin-right: 15px;
}


.left_bar{
    background-color: pink;
    float: left;
    width: 60%;
}
.right_bar{
    background-color: rgb(255, 255, 255);
    float: right;
    padding: 3%;
    padding-top: 0%;
    width: 32%;
}

.thumbnail{
    margin: 15px 0px;
   
}

.thumbnail img{

    width: 168px;
    height: 94px;
}

.thumbnail .info{
    display: inline-block;
}
