/**** TAGS ****/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

iframe {
  width: 100%;
}

body {
  background-color: rgb(245, 241, 241);
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: rgba(0, 130, 0, 0%);
}

ul {
  list-style-type: none;
}

/**** CLASSES ****/

.white{
  background-color: white;
}

.container {
  width: 80%;
  margin: auto;
  padding: 30px;
}

/*Navbar*/

.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo,
.search-bar,
.sign-in {
  display: flex;
  align-items: center;
}

.navbar img {
  height: 25px;
}

.logo .hamburguer {
  height: 20px;
  margin: 0 5px;
}

.logo .youtube-logo {
  height: 50px;
}

.search {
  width: 60%;
}

.search input {
  width: 90%;
  height: 25px;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 5px;
}

.sign-in img {
  margin-right: 15px;
}

.sign-in button {
  background-color: blue;
  color: white;
  height: 30px;
  padding: 5px;
  margin-right: 15px;
}

/* Left Bar */

.left_bar {

  float: left;
  width: 60%;
  

}

.title_thingy{
  margin-top: 8px;
  padding: 16px 0 0 13px;
}

.title{
  font-size: 1.3rem;
  padding-bottom: 10px;

}

.sub_view{
  display: flex;
  justify-content: space-between;

}
.channel{
  float: right;  
  padding-left: 10px;

  
}

.channel img{
  width: 85px;

}

.subscribe img{
  display: inline;
  position: relative;
  left: 10px;
}

.subscribe_button{
  display:flex;
  align-items: center;
  margin-top: 8px;
 
}

.subscribe_button span{
  background-color: rgb(214, 205, 205);
  height: 24.98px;
  font-size: 0.8rem;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 0%;
 
  
  }

.channel_name{
  font-size: 0.8rem;
  color: rgb(58, 57, 57);
  font-weight: 600;
}

/* Right Bar */

.right_bar {
  float: right;
  padding: 3%;
  padding-top: 0%;
  width: 33%;
}

.thumbnail {
  margin: 15px 0px;
  font-family: 'Roboto', sans-serif;
}

.thumbnail img {
  width: 168px;
  height: 94px;
}

.thumbnail .info {
    width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.thumbnail-title {
  font-weight: bold;
  font-size: 14px;
  color: rgb(87, 87, 87);
  letter-spacing: 0.03rem;
}

.thumbnail-channel,
.thumbnail-views {
  font-size: 12px;
  color: grey;
}

.up-next {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.autoplay {
  display: flex;
  align-items: center;
  color: grey;
}

.autoplay .exclamation-mark {
  height: 20px;
  margin: 0 5px;
}

.autoplay .autoplay-icon {
  height: 15px;
}
